/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-blockyy-curved {
	position: relative;
	background-color: #462EFF;
	padding-top: 60px;
	padding-bottom: 60px;
	padding-left: 40px;
	padding-right: 40px;
}
